@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  height: 100vh;
  background: #000000;
  image-rendering: pixelated;
  @apply text-gray-200;
}

*,
::before,
::after {
  background: none;
}

:focus {
  outline: 0 !important;
}

::selection {
  @apply bg-gray-700
}

/* hide number input controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

label,
small,
input,
textarea,
select,
button {
  display: block;
}

button {
  text-align: left;
}

input:disabled,
textarea:disabled,
button:disabled {
  cursor: not-allowed;
}

hr {
  border: none;
  background: white;
  height: 1px;
}

svg:not([width]) {
  /* default icon size */
  @apply w-5 h-5;
}

/* target area utility to increase mouse event area beyond visual area */
.t-1:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  @apply -m-1
}
.t-2:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  @apply -m-2
}
.t-max:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  margin: -99999px;
}

/* high dpi fixes */
@media (-webkit-device-pixel-ratio: 1.5) {
  .border {
    border-width: 0.666px;
  }
  .border-t {
    border-top-width: 0.666px;
  }
  .border-r {
    border-right-width: 0.666px;
  }
  .border-b {
    border-bottom-width: 0.666px;
  }
  .border-l {
    border-left-width: 0.666px;
  }
  hr {
    height: 0.666px;
  }
}
