@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  overflow: hidden;
  height: 100vh;
  background: #000000;
  @apply text-gray-200;
}

*,
::before,
::after {
  background: none;
}

:focus {
  outline: 0 !important;
}

label,
small,
input,
textarea,
select,
button {
  display: block;
}

svg {
  @apply w-5 h-5; /* default icon size */
}

/* target area utility to increase mouse event area beyond visual area */
.t-2:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  @apply -m-2
}
.t-max:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  margin: -99999px;
}
